*{
  box-sizing: border-box;
}

body{
  background-color: #FAFAFA;
}
a{
  color: #033;
  text-decoration: none;
  user-select: none;
  word-break: keep-all;  
  opacity: 1;
}
a:hover{
  cursor: pointer;
  text-decoration: underline;
  
}
a[class~=btn]{
  padding: 3px 5px;
  border: 1px solid #033;
  border-radius: 5px;
  line-height: 2em;
  background: linear-gradient(#efe 50%, #dfd 80%);
}
a.btn{
  display: inline-block;
  line-height: 1em;
}
select{
  background: linear-gradient(rgba(240,240,240,0.4),rgba(220,220,220,0.6));
    border-color: #699;
  border-style: solid;
  border-width: 1px;
}
select:focus{
  outline-color: #6f9;
  outline-width: 2px;
  box-shadow: 0px 0px 5px #6f9;
}
input, textarea{
  border-color: #699;
  border-style: solid;
  border-width: 1px;
  padding: 3px 5px;
}
input:focus,textarea:focus{
  outline-color: #6f9;
  outline-width: 2px;
  box-shadow: 0px 0px 5px #6f9;
}
input[type=checkbox].slider {
  width: 2em;
  height: 1em;
  min-width: 2em;
  min-height: 1em;
  opacity: 1;
  position: relative;
  z-index: 1;
  user-select: none;
  display: inline-block;
}

input[type=checkbox].slider::before,
input[type=checkbox].slider::after {
  content: '';
  height: 100%;
  position: absolute;
  z-index: -1;
  transition: all 0.25s ease;
  visibility: visible;
  box-shadow: 0px 0px 1px 1px #666;
}

input[type=checkbox].slider::before {
  width: 100%;
  border-top-left-radius: 25% 50%;
  border-top-right-radius: 25% 50%;
  border-bottom-right-radius: 25% 50%;
  border-bottom-left-radius: 25% 50%;
  background: linear-gradient(to right, #0f0 50%, #eee 50%);
  background-size: 200% 100%;
  background-position-x: 75%;
}

input[type=checkbox].slider::after {
  width: 50%;
  border-radius: 50%;
  left: 0;
  background-color: #ccc;
}

input[type=checkbox].slider:checked::after {
  left: 50%;
  background-color: #060;
}

input[type=checkbox].slider:checked:before {
  background-position-x: 25%;
}
.flex-justify-between{
  justify-content: space-between;
}
.flex-center{
  align-items: center;
}
nav{
  z-index: 9;
}
input[type=datetime-local]{
  z-index: 1;
}
.input-group{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.input-group>input{
  flex-grow: 3;
}
.input-group input{
  padding: 10px;
  outline: none;
  border: 1px solid #999;
  border-radius: 3px;  
}
.input-group input[type=text]{
  line-height: 21px;
}
.input-group .input-group-append{
  display: flex;
  position: relative;
  left: -5px;
}
.input-group .input-group-append>input{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.w-25{
  width: 25%;
}
button{
  outline: none;
  border-radius: 5px;
  padding: 7px 12px;
  border: 1px solid #fff;
  font-weight: 700;
}
button:hover{
  cursor: pointer;
}
button[class~=btn-dark]{
  background-color: #000;
  color: #fff;
}
button[class~=btn-link]{
  background-color: transparent;
  color: #000;  
}
button[class~=btn-link]:hover{
  text-decoration: underline;
}

.curtain{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.2;
  z-index: 7;
}
.bg-black{
  background-color: #000;
}
.text-right{
  text-align:right;
}
.hide{
  display: none;
}
.text-lg-center{
  margin: 0 auto;
  font-size: 1.2rem;
  text-align:center
}
.float-right{
  float: right;
}
.item-curtain{
  background-color: #ddd;
  opacity: 1;
  font-weight: 700;
}
.relative{
  position: relative;
}
.text-gray{
  color: gray;
}
@keyframes toBlack
{
  to {color: #000;}
}
.hover-black:hover{
  animation: toBlack 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

.list-menu{
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 3px 0 #555;
  position: absolute;
  min-width: 200px;
  top: 1.7rem;
  right: 0;
  opacity: 1;
  z-index: 11;
}
.list-menu ul{
  background-color: #fff;
  list-style: none;
  padding: 3px 0;
  margin: 0;
  position: relative;
}
.list-menu ul:nth-child(n+2){
  border-top: 1px solid #ccc;
}
.list-menu li{
  padding: 8px 10px;
  font-size: 0.875rem;
  cursor: pointer;
  user-select: none;
}
.list-menu li:hover{
  background-color: #eee;
}
img.icon{
  width: 24px;
  height: 24px;
  cursor: pointer;
  user-select: none;
}


@media screen and (max-width: 420px) {
  *{
    font-size: 14px;
  }
  .input-group input{
    padding: 3px;
  }
}