<!DOCTYPE html>
<html lang="en">

<head>
  <style scoped>
    .board {
      width: 800px;
      border: 2px solid red;
      text-align: center;
      position: relative;
    }

    ul.list {
      height: 100%;
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      padding: 0;
      margin: 0;
      min-height: 400px;
      min-width: 800px;
      position: relative;
    }

    .minmax {
      position: absolute;
      margin: 0;
      bottom: 100px;
      left: 600px;
    }
  </style>
</head>

<body>
  <section>
    <div class="btns">
      <button name="get-random">get-random</button>
      <button name="sort">桶排序</button>
    </div>
    <div class="board">
      <p class="minmax">
        最大值：
        <span name="max"></span>
        最小值：
        <span name="min"></span>
      </p>
      <ul class="list">
      </ul>
    </div>
  </section>
</body>

</html>