<!DOCTYPE html>
<html lang="en">

<head>
  <style scoped>
    .heap-board {
      text-align: center;
    }

    .tree {
      display: grid;
      grid-template-areas: "top top" "left  right";
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }

    .tree>.top {
      grid-area: top;
    }

    .tree>.left {
      grid-area: left;
    }

    .tree>.right {
      grid-area: right;
    }
  </style>
</head>

<body>
  <section>
    <div class="btns">
      <button name="get-random">get-random</button>
      <button name="sort">堆排序</button>
    </div>
    <div class="heap-board">
      <div class="tree">
        <div class="top">0</div>
        <div class="left">
          <div class="tree">
            <div class="top">0</div>
            <div class="left">left</div>
            <div class="right">right</div>
          </div>
        </div>
        <div class="right">
          <div class="tree">
            <div class="top">0</div>
            <div class="left">left</div>
            <div class="right">right</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>