<!DOCTYPE html>
<html lang="en">

<head>
  <style scoped>
    .template {
      width: 100%;
    }
    .btns{
      text-align: center;
      margin: 1em;
    }
  </style>
</head>

<body>
  <section class="template">
    <div class="btns">
      <button name="bubbleSort">bubbleSort</button>
      <button name="selectionSort">selectionSort</button>
      <button name="insertionSort">insertionSort</button>
      <button name="shellSort">shellSort</button>
      <button name="mergeSort">mergeSort</button>
      <button name="quickSort">quickSort</button>
      <button name="heapSort">heapSort</button>
      <button name="countingSort">countingSort</button>
      <button name="bucketSort">bucketSort</button>
      <button name="radixSort">radixSort</button>
    </div>
    <div class="container"></div>
  </section>
</body>

</html>